<!DOCTYPE html>
<html>

<head>
  <title>H U R U F</title>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.5"> </script>
  <link rel="stylesheet" href="/style.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <button id="back" onclick="goBack()">Back</button>
  <h1 class="arabic-title">حروف</h1>
  <h1 class="title">HURUF</h1>
  <p>Digit recognition using Convolutional Neural Networks. Built with Keras and TensorFlow.js</p>
  <span onclick="loadAudio()"><i class='fas fa-volume-up' style='font-size:24px'></i></span>
  <audio autoplay id="audio"><source src="/audio/character/<%= digit %>.mp3" type="audio/mpeg"></audio>
  <div style="display: flex; justify-content: space-between;">
  <p id="writingDigit" style="font-size: 200%; font-weight: bold; display: none;"><%= digit %></p>
  <img src="/images/characters/<%= digit %>.png" height="64px" width="64px" style="display: inline; padding-top: 4%;">
  </div>
  <div style="display: flex; justify-content: space-between;">
  <p id="writingDigit_text_eng" style="font-size: 200%; font-weight: bold; display: inline;"><%= arb_char %></p>
  <p id="writingDigit_text_arb" style="font-size: 200%; font-weight: bold; display: inline;"><%= arb_prnc %></p>
  </div>
  <section id="canvas-part">
    <canvas id="main-canvas" width="300" height="300"></canvas>
    <canvas id="small-main-canvas" width="64" height="64"></canvas>
    <canvas id="small-canvas" width="64" height="64"></canvas>
    <div id="prediction" style="font-size: medium; line-height: 1.6; padding-top: 120px;"></div>
    <div style="padding-left: 1%;"><h2 id="label"></h2></div>
  </section>

    <button id="prev">Previous</button>
    <button id="erase">Clear</button>
    <button id="predict">Predict</button>
    <button id="next">Next</button>

    <script src="/image_class.js"></script>
    <script src="/predict_character_learn.js"></script>
  
 
  <script>
    
      function goBack() {
      location.href="/character/learn"
      }
      $(document).ready(function() {
        // console.log($("#writingDigit").text());
        if($("#writingDigit").text() == 0) {
          $("#prev").hide();
        }
        else if($("#writingDigit").text() == 27) {
          $("#next").hide();
        }      
      });

      $("#next").on('click', function() {
        location.href = `/character/learn?choice=${parseInt($("#writingDigit").text())+1}`;
      });

      $("#prev").on('click', function() {
        location.href = `/character/learn?choice=${parseInt($("#writingDigit").text())-1}`;
      });

      function loadAudio() {
        document.getElementById('audio').play();
      }

      // document.getElementById('predict').addEventListener('click', give_verdict($("#writingDigit").text()));


  </script>
</body>

</html>
